.ComMent{
    height: 80.5vh;
    font-size: 12px;
    .conLeft{
        width: 33vw;
        height:10vh;
        border-right: 1px solid black;
        margin: 1em 0;
        dl{
            text-align: center;
            dt{
                font-size: 1.5em;
            }
            dd{
                margin-top: 0.4em;
            }
            dd:nth-child(3){
                font-size: 0.8em;
            }
        }
        
    }
    .conRight{
        position: absolute;
        right:0;
        height:10vh;
        width:66vw;
        display: flex;
        justify-content: center;
        align-content: center;
        li{
            margin: 0.3em 0;
            .el-icon-star-off{
                color:orange;
            }
           li:nth-child(5){
                color:black;
            }
            span{
                margin: 0 0.5em;
            }
        }
    }
}
.conBot{
    .grey{
        height: 1em;
        background-color: rgb(228, 222, 222);
        border-top: 1px solid rgb(167, 164, 164);
        border-bottom: 1px solid rgb(167, 164, 164);
    }
    .button{
        height:8vh;
        width: 90%;
        border-bottom: 1px solid rgb(167, 164, 164);
        margin: 0 auto;
        display: flex;
        align-items: center;
      
        .butCor{
            background-color:rgb(196, 217, 235);
        }
        .butCor:nth-child(3){
            background-color:rgb(168, 162, 162);
        }
        .blue{
            background-color:rgb(87, 97, 238);
        }
        
        .rouLin{
            text-decoration: none;
            color:black;
            span{
                font-size: 8px;
                margin-left: 0.5em;
            }
        }
    }
    .select{
        height: 5vh;
        border-bottom: 1px solid  rgb(167, 164, 164);
        line-height: 5vh;
        li{
            font-size: 17px;
            margin-left: 1.5em;
            color:white;
            background-color:rgb(167, 157, 157);
            border-radius: 50%;
        }
        .green{
             background-color:rgb(78, 223, 41);
        }
        span{
            font-size: 11px;
            margin-left: 0.3em;
        }
    }
}